@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
  }
#hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.404) ),
     url('./Fbackgorund.jpg') no-repeat center / cover;
    color: white;
}
.container{
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .info h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.container .info h2{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.container .info p{
    font-size: 1.2rem;
    max-width: 60%; /* change to get stuff in centre again*/
}

.container .info a{ /* the button (click me!)*/
    text-decoration: none;
    display: inline-block;
    background-color: white;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 0.5em 2em;
    margin-top:  2rem;
    color: #ee6c09;
}

@media only screen and (max-width: 768px){
    html{
        font-size: 10px;
    }
}